# ignore all files starting with . or ~
.*
~*

# ignore node/grunt dependency directories
node_modules/

# ignore dist directories
dist/
public/


# assets copys
src/assets/
src/sass/animate.css/animate.scss
